extends ../partials/head

block head
  title="テスト"


block style
  link(rel="stylesheet" type="text/css" href=src=`${ROOTPATH}/styles/main.css`)

block script
  script(src=`${ROOTPATH}/js/vendor.js`)
  script(src=`${ROOTPATH}/js/app.js`)
  script(src=`${ROOTPATH}/js/sub.js`)

block content
  h1 テストページ
  h2=`env: ${ENV.env}`
  +includes('testcomponents')
  .pc-image
  .sp-image



